<div id="top">Laufschrift online</div>
<a href="https://carl-adam.theoinf.tu-ilmenau.de/trac/swp_s14_18/wiki"><div id="help"></div></a>
<div id="links">
    <div id="links_o_bg"></div>
	<div id="links_o">				
		<a href="#" class="button" id="sequence-new">Erstellen</a>
		<a href="#" class="button" id="sequence-load">Laden</a>
		<a href="#" class="button" id="sequence-save">Speichern</a>
		<a href="#" class="button" id="sequence-save-as">Speichern als …</a>
		<a href="#" class="button" id="sequence-delete">Löschen</a>
	</div>
	<div id="links_u">
	    <ul id="sequences">
		    <% @sequences.each do |sequence| %>
		    <li data-value="<%= sequence.id %>"><%= sequence.title %></li>
			<% end %>
		</ul>
		
	</div>
</div>



<div id="mitte">
<div id="mitteoben">
<div id="sequence-name">Sequenz 1</div></div>
<div id="mittemitte"><div id="sequence"><div id="sequence-inner"><div id="play"><a id="run-button" class="playbutton" href="#"></a></div></div></div></div>

<div id="bug"></div>
<div id="debug">
<div id="debug-bg"><div id="debug-feld">
<div id="textarea"><%= text_area_tag(:text, "", id: "commit-text") %></div></textarea>
			</div></div>
</div>

<div id="toolbox_bg"></div>
<div id="toolbox">
    <div id="toolbox-inner"></div>
</div>

<div id="footer">
	<hr>
	<br>
	<div class="name" >Technische Universität Ilmenau <br>Softwareprojekt 2014 - Gruppe 18 </div>
	<div class="trac">Bitte besuchen Sie das Trac-Projekt:<br /><a style="color: white" href="https://carl-adam.theoinf.tu-ilmenau.de/trac/swp_s14_18/wiki">https://carl-adam.theoinf.tu-ilmenau.de/trac/swp_s14_18/wiki</a></div>
</div>





