* text=auto !eol
design/Animationen.jpg -text
design/seite.xcf -text
hardware/V[!!-~]0.1/Funktionen.cpp -text
hardware/V[!!-~]0.1/Funktionen.h -text
hardware/V[!!-~]0.1/LauflichtTestprogramm.cbp -text
hardware/V[!!-~]0.1/LauflichtTestprogramm.depend -text
hardware/V[!!-~]0.1/main.cpp -text
hardware/V[!!-~]0.1/rs232.c -text
hardware/V[!!-~]0.1/rs232.h -text
hardware/V[!!-~]0.2/Funktionen.cpp -text
hardware/V[!!-~]0.2/Funktionen.h -text
hardware/V[!!-~]0.2/LauflichtTestprogramm.cbp -text
hardware/V[!!-~]0.2/LauflichtTestprogramm.depend -text
hardware/V[!!-~]0.2/main.cpp -text
hardware/V[!!-~]0.2/rs232.c -text
hardware/V[!!-~]0.2/rs232.h -text
hardware/V[!!-~]0.3/Funktionen.cpp -text
hardware/V[!!-~]0.3/Funktionen.h -text
hardware/V[!!-~]0.3/LauflichtTestprogramm.cbp -text
hardware/V[!!-~]0.3/LauflichtTestprogramm.depend -text
hardware/V[!!-~]0.3/LauflichtTestprogramm.layout -text
hardware/V[!!-~]0.3/main.cpp -text
hardware/V[!!-~]0.3/rs232.c -text
hardware/V[!!-~]0.3/rs232.h -text
hardware/V[!!-~]0.4/Funktionen.cpp -text
hardware/V[!!-~]0.4/Funktionen.h -text
hardware/V[!!-~]0.4/main.cpp -text
hardware/V[!!-~]0.4/rs232.c -text
hardware/V[!!-~]0.4/rs232.h -text
hardware/V[!!-~]0.5/Funktionen.cpp -text
hardware/V[!!-~]0.5/Funktionen.h -text
hardware/V[!!-~]0.5/main.cpp -text
hardware/V[!!-~]0.5/rs232.c -text
hardware/V[!!-~]0.5/rs232.h -text
rails/Gemfile -text
rails/README.rdoc -text
rails/Rakefile -text
rails/app/assets/images/.keep -text
rails/app/assets/images/PIDvl[!!-~]bold.ttf -text svneol=unset#application/x-font-ttf
rails/app/assets/images/PIDvl.ttf -text svneol=unset#application/x-font-ttf
rails/app/assets/images/Symbola.ttf -text svneol=unset#application/x-font-ttf
rails/app/assets/images/autocenter.png -text
rails/app/assets/images/autocenter_hover.png -text
rails/app/assets/images/background.jpg -text
rails/app/assets/images/blackbg.png -text
rails/app/assets/images/blackbg_hover.png -text
rails/app/assets/images/break.png -text
rails/app/assets/images/break_hover.png -text
rails/app/assets/images/bug.png -text
rails/app/assets/images/but.png -text
rails/app/assets/images/but_hover.png -text
rails/app/assets/images/but_twitter.png -text
rails/app/assets/images/but_twitter_hover.png -text
rails/app/assets/images/clock12.png -text
rails/app/assets/images/clock12_hover.png -text
rails/app/assets/images/clock24.png -text
rails/app/assets/images/clock24_hover.png -text
rails/app/assets/images/closemid.png -text
rails/app/assets/images/closemid_hover.png -text
rails/app/assets/images/closeright.png -text
rails/app/assets/images/closeright_hover.png -text
rails/app/assets/images/debuglinks.png -text
rails/app/assets/images/debugmitte.png -text
rails/app/assets/images/debugrechts.png -text
rails/app/assets/images/delete.png -text svneol=unset#image/png
rails/app/assets/images/delete_hover.png -text svneol=unset#image/png
rails/app/assets/images/dobig.png -text
rails/app/assets/images/dobig_hover.png -text
rails/app/assets/images/doff.png -text
rails/app/assets/images/doff_hover.png -text
rails/app/assets/images/down.png -text
rails/app/assets/images/down_hover.png -text
rails/app/assets/images/dsnow.png -text
rails/app/assets/images/dsnow_hover.png -text
rails/app/assets/images/flash.png -text
rails/app/assets/images/flash_hover.png -text
rails/app/assets/images/greenbg.png -text
rails/app/assets/images/greenbg_hover.png -text
rails/app/assets/images/jump.png -text
rails/app/assets/images/jump_hover.png -text
rails/app/assets/images/left.png -text
rails/app/assets/images/left_hover.png -text
rails/app/assets/images/linebreak.png -text
rails/app/assets/images/linebreak_hover.png -text
rails/app/assets/images/linksoben.png -text svneol=unset#image/png
rails/app/assets/images/linksunten.png -text svneol=unset#image/png
rails/app/assets/images/mitte.png -text svneol=unset#image/png
rails/app/assets/images/mittelinks.png -text svneol=unset#image/png
rails/app/assets/images/mittelinks2.png -text svneol=unset#image/png
rails/app/assets/images/mittemitte.png -text svneol=unset#image/png
rails/app/assets/images/mittemitte2.png -text svneol=unset#image/png
rails/app/assets/images/mitterechts.png -text svneol=unset#image/png
rails/app/assets/images/mitterechts2.png -text svneol=unset#image/png
rails/app/assets/images/move.png -text
rails/app/assets/images/openmid.png -text
rails/app/assets/images/openmid_hover.png -text
rails/app/assets/images/openright.png -text
rails/app/assets/images/openright_hover.png -text
rails/app/assets/images/playbutton.png -text
rails/app/assets/images/question.png -text
rails/app/assets/images/rainbow.png -text
rails/app/assets/images/rainbow_hover.png -text
rails/app/assets/images/random.png -text
rails/app/assets/images/random_hover.png -text
rails/app/assets/images/rechts.png -text svneol=unset#image/png
rails/app/assets/images/redbg.png -text
rails/app/assets/images/redbg_hover.png -text
rails/app/assets/images/right.png -text
rails/app/assets/images/right_hover.png -text
rails/app/assets/images/seq.png -text
rails/app/assets/images/seq_select.png -text
rails/app/assets/images/seqbut.png -text
rails/app/assets/images/seqbut_hover.png -text
rails/app/assets/images/seqlist.png -text
rails/app/assets/images/shiftmid.png -text
rails/app/assets/images/shiftmid_hover.png -text
rails/app/assets/images/snow.png -text
rails/app/assets/images/snow_hover.png -text
rails/app/assets/images/special-character.png -text svneol=unset#image/png
rails/app/assets/images/special-character_hover.png -text svneol=unset#image/png
rails/app/assets/images/speed.png -text
rails/app/assets/images/speed_hover.png -text
rails/app/assets/images/squeezemid.png -text
rails/app/assets/images/squeezemid_hover.png -text
rails/app/assets/images/textelement.png -text
rails/app/assets/images/textelement_hover.png -text
rails/app/assets/images/timewait.png -text
rails/app/assets/images/timewait_hover.png -text
rails/app/assets/images/toplinks.png -text
rails/app/assets/images/topmitte.png -text
rails/app/assets/images/toprechts.png -text
rails/app/assets/images/up.png -text
rails/app/assets/images/up_hover.png -text
rails/app/assets/images/yellowbg.png -text
rails/app/assets/images/yellowbg_hover.png -text
rails/app/assets/javascripts/application.js -text
rails/app/assets/javascripts/components.js -text
rails/app/assets/javascripts/config.js.erb -text
rails/app/assets/javascripts/init.js -text
rails/app/assets/javascripts/listasselect.js -text
rails/app/assets/javascripts/sequence.js -text
rails/app/assets/javascripts/sequencecontrol.js -text
rails/app/assets/javascripts/test.js -text
rails/app/assets/javascripts/toolbox.js -text
rails/app/assets/javascripts/util.js -text
rails/app/assets/stylesheets/application.css -text
rails/app/assets/stylesheets/base.css.scss -text
rails/app/assets/stylesheets/fonts.css.scss -text
rails/app/assets/stylesheets/sequences.css.scss -text
rails/app/assets/stylesheets/sign.css.scss -text
rails/app/controllers/application_controller.rb -text
rails/app/controllers/concerns/.keep -text
rails/app/controllers/sequences_controller.rb -text
rails/app/controllers/sign_controller.rb -text
rails/app/helpers/application_helper.rb -text
rails/app/helpers/sequences_helper.rb -text
rails/app/helpers/sign_helper.rb -text
rails/app/mailers/.keep -text
rails/app/models/.keep -text
rails/app/models/concerns/.keep -text
rails/app/models/sequence.rb -text
rails/app/views/layouts/application.html.erb -text
rails/app/views/sign/index.html.erb -text
rails/bin/bundle -text
rails/bin/rails -text
rails/bin/rake -text
rails/bin/spring -text
rails/config.ru -text
rails/config/application.rb -text
rails/config/boot.rb -text
rails/config/database.yml -text
rails/config/environment.rb -text
rails/config/environments/development.rb -text
rails/config/environments/production.rb -text
rails/config/environments/test.rb -text
rails/config/initializers/backtrace_silencers.rb -text
rails/config/initializers/cookies_serializer.rb -text
rails/config/initializers/filter_parameter_logging.rb -text
rails/config/initializers/inflections.rb -text
rails/config/initializers/mime_types.rb -text
rails/config/initializers/session_store.rb -text
rails/config/initializers/wrap_parameters.rb -text
rails/config/locales/de.yml -text
rails/config/locales/en.yml -text
rails/config/routes.rb -text
rails/config/secrets.yml -text
rails/db/migrate/20140422153329_create_sequences.rb -text
rails/db/migrate/20140617113557_add_modifiable_to_sequences.rb -text
rails/db/schema.rb -text
rails/db/seeds.rb -text
rails/laufschrift_steuerung_bsp -text
rails/lib/assets/.keep -text
rails/lib/tasks/.keep -text
rails/log/.keep -text
rails/public/404.html -text
rails/public/422.html -text
rails/public/500.html -text
rails/public/favicon.ico -text
rails/public/robots.txt -text
rails/test/controllers/.keep -text
rails/test/controllers/sequences_controller_test.rb -text
rails/test/controllers/sign_controller_test.rb -text
rails/test/fixtures/.keep -text
rails/test/fixtures/sequences.yml -text
rails/test/helpers/.keep -text
rails/test/helpers/sequences_helper_test.rb -text
rails/test/helpers/sign_helper_test.rb -text
rails/test/integration/.keep -text
rails/test/mailers/.keep -text
rails/test/models/.keep -text
rails/test/models/sequence_part_test.rb -text
rails/test/test_helper.rb -text
rails/vendor/assets/javascripts/.keep -text
rails/vendor/assets/javascripts/achtung/AUTHORS.txt -text
rails/vendor/assets/javascripts/achtung/LICENSE.txt -text
rails/vendor/assets/javascripts/achtung/ui.achtung-min.js -text
rails/vendor/assets/javascripts/achtung/ui.achtung.js -text
rails/vendor/assets/javascripts/achtung/version.txt -text
rails/vendor/assets/javascripts/caret/jquery.caret.js -text
rails/vendor/assets/javascripts/caret/license.txt -text
rails/vendor/assets/javascripts/caret/readme.md -text
rails/vendor/assets/javascripts/preload/LICENSE -text
rails/vendor/assets/javascripts/preload/README.txt -text
rails/vendor/assets/javascripts/preload/changes.txt -text
rails/vendor/assets/javascripts/preload/jquery.preload.js -text
rails/vendor/assets/stylesheets/.keep -text
rails/vendor/assets/stylesheets/achtung/ui.achtung-min.css -text
rails/vendor/assets/stylesheets/achtung/ui.achtung.css -text
website/v1/design.css -text
website/v1/laufschrift.html -text
website/v2/design_02.css -text
website/v2/laufschrift_02.html -text
website/v3/design_03.css -text
website/v3/laufschrift_03.html -text
website/v4/design_04.css -text
website/v4/laufschrift_04.html -text
