body {
background-image:url(http://abload.de/img/site_backgroundyia3x.jpg);
text-align:center;
font-family:Arial, Serif;
}
#top{
margin-bottom:10px;
height:100px;
width:100%;
background-color:lightyellow;

}

#links {
position:absolute;
top:130px;
left:10px;
margin-left:20px;									/*Mittelfenster variable groesse(eigentlich nicht wirklich eine verbesserung) --> wie formatiert man so hintergrundbilder richtig???, bitte keine absolute positionierung*/
height: 1000px;
background-color: transparent;
width: 250px;
float: left;
}
#links_o_bg{
position:absolute;
top:0px;
left:0px;
height: 350px;
width: 250px;
background:url(http://abload.de/img/linksobenllrpl.png);opacity: 0.6;
background-repeat:repeat-x;
}
#links_o {
position:absolute;
top:0px;
left:0px;
height: 350px;
background-color: transparent;
width: 250px;
float: left;
}
#links_u {
position:absolute;
top:400px;
left:0px;
font-weight:bold;
color:white;
font-family:Arial;
height: 350px;
background:url(http://abload.de/img/linksuntenmyrzw.png);
width: 250px;
float: left;
}

#fenster {
margin-left:350px;
margin-right:500px;
height: 1000px;
}

#mittelinks{
position:absolute;
top:130px;
left:300px;
width: 325px;
height: 650px;
background:url(http://abload.de/img/mittelinkslsufu.png);
text-align:left;




font-family:Arial;
color:white;
font-size:14px;
}
#mittemitte{
margin-left: 617px;
margin-right: 471px;
margin-top: 66px;
height: 606px;
background:url(http://abload.de/img/mittemitte28jxc.png);
background-repeat:repeat-x;
color:transparent;
}
#mitterechts{
position:absolute;
top: 174px;
right: 479px;
width :9px;
height 606px;
background:url(http://abload.de/img/mitterechtsbpj7f.png);
background-repeat:repeat-x;
color:transparent;
}

#feld{
height: 900px;
background-color:yellow;
background:url(http://abload.de/img/mittea6j0i.png);
background-repeat:repeat-x;
}

#debug {
height: 100px;
background:transparent;
}

#toolbox_bg{
position:absolute;
top:120px;
right:0px;		
width: 450px;
float: right;		
height:600px;
background: url(http://abload.de/img/rechtsqtu8j.png); opacity: 0.5; 

margin-right:20px;	
}


#toolbox{
position:absolute;
top:130px;
right:10px;								
margin:20px;
height:590px;
background: transparent; 

width: 430px;
float: right;
font-family:Arial;
color:white;
font-size:12px;
text-align:left;
}

#toolbox_oben{
position:absolute;
top:10px;
height:100px;
width:430px;
background:transparent; 

}

#toolbox_standard{
float:left;
height:100px;
width:300px;
background:transparent; 

}

#toolbox_help{
position:relative;
top:20px;
right:10px;
height:50px;
width:50px;
background:transparent;

float:right;
}
#toolbox_links{
float:left;
height:200px;
width:200px;
background:transparent; 

}

#toolbox_rechts{
float:right;
height:200px;
width:200px;
background:transparent; 


}

#toolbox_unten{
clear:both;
height:600px;
width:450px;
background:transparent;
}


.button{
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #474747), color-stop(1, #1f181f) );
	background:-moz-linear-gradient( center top, #474747 5%, #1f181f 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#474747', endColorstr='#1f181f');
	background-color:#474747;
	border-radius:3px;
	text-indent:0;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	font-weight:normal;
	font-style:normal;
	height:40px;
	line-height:40px;
	width:150px;
	text-decoration:none;
	text-align:center;
	}
.button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #1f181f), color-stop(1, #474747) );
	background:-moz-linear-gradient( center top, #1f181f 5%, #474747 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1f181f', endColorstr='#474747');
	background-color:#1f181f;
}.button:active {
	position:relative;
	top:1px;
}




.links_unten {						/*Button fuer Sequenzen */
        height:30px;
        line-height:30px;
        width:250px;
      }
.links_unten:hover {
        background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #1f181f), color-stop(1, #474747) );
		background:-moz-linear-gradient( center top, #1f181f 5%, #474747 100% );
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1f181f', endColorstr='#474747');
		background-color:#1f181f;
}.links_unten:active {
        position:relative;
        top:1px;
}

.klein {								/*kleiner Standardbutton fuer links*/
		border-radius:10px;
		height:32px;
		width:32px;
		line-height:32px;
		margin-left:15px;
}

.klein:hover {
        background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #1f181f), color-stop(1, #474747) );
		background:-moz-linear-gradient( center top, #1f181f 5%, #474747 100% );
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1f181f', endColorstr='#474747');
		background-color:#1f181f;
}.klein:active {
        position:relative;
        top:1px;
}

.rot {										/*roter button*/
		background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ff0026), color-stop(1, #662022) );
        background:-moz-linear-gradient( center top, #ff0026 5%, #662022 100% );
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0026', endColorstr='#662022');
        background-color:#ff0026;
		
}

.rot:hover {
        background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #662022), color-stop(1, #ff0026) );
        background:-moz-linear-gradient( center top, #662022 5%, #ff0026 100% );
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#662022', endColorstr='#ff0026');
        background-color:#662022;
}.rot:active {
        position:relative;
        top:1px;
}

.schwarz {									/*schwarzer button*/
		background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #575757), color-stop(1, #000000) );
        background:-moz-linear-gradient( center top, #575757 5%, #000000 100% );
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#575757', endColorstr='#000000');
        background-color:#575757;
		
}

.schwarz:hover {
        background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #000000), color-stop(1, #575757) );
        background:-moz-linear-gradient( center top, #000000 5%, #575757 100% );
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#575757');
        background-color:#000000;
		
}.schwarz:active {
        position:relative;
        top:1px;
}

.gelb {										/*gelber button*/				
		background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fff700), color-stop(1, #c4c418) );
        background:-moz-linear-gradient( center top, #fff700 5%, #c4c418 100% );
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff700', endColorstr='#c4c418');
        background-color:#fff700;
		}

.gelb:hover {
        background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #c4c418), color-stop(1, #fff700) );
        background:-moz-linear-gradient( center top, #c4c418 5%, #fff700 100% );
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c4c418', endColorstr='#fff700');
        background-color:#c4c418;
		
}.gelb:active {
        position:relative;
        top:1px;
}
.gruen{										/*gruener button*/
		background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #26ff00), color-stop(1, #217a2a) );
        background:-moz-linear-gradient( center top, #26ff00 5%, #217a2a 100% );
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#26ff00', endColorstr='#217a2a');
        background-color:#26ff00;
}
.gruen:hover{
		background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #217a2a), color-stop(1, #26ff00) );
        background:-moz-linear-gradient( center top, #217a2a 5%, #26ff00 100% );
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#217a2a', endColorstr='#26ff00');
        background-color:#217a2a;
}

}.gruen:active {
        position:relative;
        top:1px;
}

.zeichen{									/*zeichenbreite  button*/
		font-size:20px;
		
}
.text_rot{									/*Textfarben */
		font-size:20px;
		color:red;
}
.text_schwarz{
		font-size:20px;
		color:black;
}
.text_gelb{
		font-size:20px;
		color:yellow;
}
.text_gruen{
		font-size:20px;
		color:#00BF00;
}

.hilfe{										/*Hilfebutton*/
		border-radius:30px;
}

.standard{									/*Kominations element*/
		width:80px;
		height:40px;
		line-height:65px;
		font-size:20px;
		border-radius:2px;
		text-indent:0;
		display:inline-block;
		color:#ffffff;
		border-radius:3px;
		font-family:Arial;
		font-size:15px;
		font-weight:normal;
		font-style:normal;			
		text-decoration:none;
		text-align:center;
		text-shadow:1px 1px 0px #633963;
}



