* {
    padding: 0;
    margin: 0;
}
body {
    background-image:url(background.jpg);
    font-family: Arial, Helvetica, sans-serif;
}
#top{
    margin-bottom:10px;
    height:100px;
    width:100%;
    background-image: url(toplinks.png), url(toprechts.png), url(topmitte.png);
    background-repeat: no-repeat, no-repeat, repeat-x;
    background-position: top left, top right, top left;
    text-align:center;
    font-family:Arial;
    color:white;
    font-size:80px;
}
#links {
    position:absolute;
    top:130px;
    left:10px;
    margin-left:20px;
    height: 1000px;
    background-color: transparent;
    width: 250px;
    float: left;
}
#links_o_bg{
    position:absolute;
    top:0px;
    left:0px;
    height: 350px;
    width: 250px;
    background:url(linksoben.png);
    opacity: 0.6;
    background-repeat:repeat-x;
}
#links_o {
    position:absolute;
    top:0px;
    left:0px;
    height: 350px;
    background-color: transparent;
    width: 250px;
    float: left;
    padding-top: 38px;
}
#links_o .button {
    margin-bottom: 16px;
    margin-left: auto;
    margin-right: auto;
}
#links_u {
    position:absolute;
    top:400px;
    left:0px;
    font-weight:bold;
    color:white;
    font-family:Arial;
    height: 350px;
    background:url(linksunten.png);
    width: 250px;
    float: left;
}

#mitte {
    margin-left: 300px;
    margin-right: 500px;
    margin-top: 30px;
    min-width: 325px;
}
#mitteoben {
    background: url(mittelinks.png) no-repeat;
    background-position: top left;
    color: white;
    font-size: 14px;
    width: 325px;
    height: 44px;
}
#sequence {
    height: 586px;
}
#sequence-name {
    padding-left: 15px;
    padding-top: 15px;
}
#sequence-inner {
    height: 100%;
    width: 100%;
    overflow: auto;
    padding-top: 2px;
    padding-left: 4px;
    padding-right: 4px;
    box-sizing: border-box;
}
#mittemitte {
    background-image: url(mittelinks2.png), url(mitterechts2.png), url(mittemitte2.png);
    background-repeat: no-repeat, no-repeat, repeat-x;
    background-position: top left, top right, top left;
    padding: 9px;
/*    box-sizing: border-box;*/
    height: 606px;
}

#feld{
    height: 900px;
    background-color:yellow;
    background:url(mitte.png);
    background-repeat:repeat-x;
}

#debug {
    margin-left: 130px;
    margin-right: 80px;
    margin-top: 20px;
    min-width: 325px;
    height: 30px;
}
#debug-bg{
    background-image: url(debuglinks.png), url(debugrechts.png), url(debugmitte.png);
    background-repeat: no-repeat, no-repeat, repeat-x;
    background-position: left,right,left;
}

#debug-feld{
    background: transparent;
}

#bug{
    position:absolute;
    top:800px;
    left:330px;		
    width: 64px;		
    height:72px;
    background: url(bug.png);
}

#toolbox_bg{
    position:absolute;
    top:130px;
    right:0px;		
    width: 450px;
    float: right;		
    height:750px;
    background: url(rechts.png); opacity: 0.5;
    margin-right:20px;	
}

#toolbox{
    position:absolute;
    top:140px;
    right:10px;								
    margin:20px;;
    height:730px;
    background: transparent;
    width: 430px;
    float: right;
    font-family:Arial;
    color:white;
    font-size:12px;
    text-align:left;
}






.button {
	background-image: linear-gradient(#474747 5%, #1f181f 100% );
	display: block;
    	color:#ffffff;
	font-size:17px;
	height:40px;
	line-height:40px;
	width:150px;
	border-radius:3px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #000000;
}
.button:hover {
	background-image: linear-gradient(#1f181f 5%, #474747 100% );
}
.button:active {
	position:relative;
	top:1px;
}	

.component {
/*	border: 0.1px solid gray;*/
	background-color: transparent;
	display: inline-block;
	height: 55px;
	margin: 5px;
/*	padding: 3px;*/
	vertical-align: top;
	cursor: move;
	position: relative; /* damit man dann den delete-button auf position: absolute stellen kann */
}

.component-inner {
/*	display: inline-block;
	padding: 3px;
	margin-right: 4px;*/
	margin-top: 6px;
}

.component-group {
    background-color: #1f181f;
    height: 55px;
}
.component-group>.component-inner {
    margin-top: 0;
    padding-left: 3px;
    padding-right: 3px;
}
.component-group .component {
    margin-top: 0;
    margin-left: 1px;
    margin-right: 0;
}

.component > * {
	vertical-align: middle;
}

.component-text .component-inner {
    margin-top: 13px;
}

.component-delete-button {
    position: absolute;
    right: -7px;
    top: -7px;
    display: none;
    background: url(delete.png) no-repeat top left;
    border: 0;
    color: transparent; /* Text ausblenden */
    width: 16px;
    height: 16px;
}

.component-delete-button:hover {
    background-image: url(delete-hover.png);
}

.component:hover .component-delete-button {
    display: block;
}

.tool {
	display: inline-block;
	cursor: move;
}
.button-toolbox, .button-component {
	border-radius: 12px;
	display:inline-block;
	color:#ffffff;
	font-size:17px;
	height:39px;
	line-height:39px;
	width:39px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 1px #000000;
	background-image: linear-gradient(#a6a19a 5%, #423d37 100% );
	box-shadow: inset 0px 1px 0px 0px #787168;
	border: 1px solid #9c9891;
}
.button-toolbox:hover, .button-component:hover {
    background-image: linear-gradient(#423d37 5%, #a6a19a 100% );
}
.button-toolbox {
	margin-left: 12px;
	margin-bottom: 12px;    
}
.button-component {
    vertical-align: top;
}

.popover .button-component {
    cursor: default;
}

.button-color-fg-r {
    color: #ff0026;
}
.button-color-fg-b {
    color: #575757;
}
.button-color-fg-y {
    color: #fff700;
}
.button-color-fg-g {
    color: #26ff00;
}

.button-color-bg-r {
	background-image: linear-gradient(#ff0026 5%, #662022 100% );
}
.button-color-bg-r:hover {
	background-image: linear-gradient(#662022 5%, #ff0026 100% );
}
.button-color-bg-b {
	background-image: linear-gradient(#575757 5%, #000000 100% );
	border:1px solid #575757;
	text-shadow:1px 1px 0px #575757;
}
.button-color-bg-b:hover {
	background-image: linear-gradient(#000000 5%, #575757 100% );
}
.button-color-bg-y {
	background: linear-gradient(#fff700 5%, #c4c418 100% );
}
.button-color-bg-y:hover {
	background-image: linear-gradient(#c4c418 5%, #fff700 100% );
}
.button-color-bg-g {
	background-image: linear-gradient(#26ff00 5%, #217a2a 100% );
}
.button-color-bg-g:hover {
	background-image: linear-gradient(#217a2a 5%, #26ff00 100% );
}
	
.button-seq {										/*Button fuer Sequenzliste*/
	box-shadow: 0px 0px 0px 0px #ffffff;
	background-image: linear-gradient(#474747 5%, #1f181f 100% );
	background-color:#474747;
	border-radius:3px;
	text-indent:0px;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	font-weight:normal;
	font-style:normal;
	height:30px;
	line-height:30px;
	width:200px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #000000;
}
.button-seq:hover {
	background-image: linear-gradient(#1f181f 5%, #474747 100% );
	background-color:#1f181f;
}
.button-seq:active {
	position:relative;
	top:1px;
}
.button-size1 {
	box-shadow:inset 0px 1px 0px 0px #787168;
	background-image: linear-gradient(#a6a19a 5%, #423d37 100% );
	border:1px solid #9c9891;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:normal;
	font-style:normal;
	height:39px;
	line-height:39px;
	width:39px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #000000;
	margin-left:15px;
}
.button-size1:hover {
	background-image: linear-gradient(#423d37 5%, #a6a19a 100% );
	background-color:#423d37;
}
.button-size1:active {
	position:relative;
	top:1px;
}

#toolbox h3 {
    margin-bottom: 9px;
    margin-left: 20px;
}

.tool-slider > * {
    vertical-align: middle;
}

.tool-slider-lower-limit, .tool-slider-upper-limit {
    padding: 0 10px;
    min-width: 50px;
    display: inline-block;
}

.tool-slider-lower-limit {
    text-align: right;
}

.tool-command-COLOR, .tool-command-NORMAL, .tool-command-BIG, .component-command-COLOR .button-component, .component-command-BIG .button-component, .component-command-NORMAL .button-component {
    font-family: PIDvl;
    font-size: 39px;
    vertical-align: top;
    padding-left: 4px;
    box-sizing: border-box;
}

.tool-command-COLOR:before, .tool-command-NORMAL:before, .tool-command-BIG:before, .component-command-COLOR .button-component:before, .component-command-BIG .button-component:before, .component-command-NORMAL .button-component:before {
    content: "A";
}

.tool-command-BIG, .component-command-BIG .button-component {
    font-family: "PIDvl bold";
}
	
.popover {
    position: absolute;
    z-index: 1000;
}
	
.button-run {
	background-image: linear-gradient(#a6a19a 5%, #423d37 100% );
	background-color:#a6a19a;
	border-radius: 20px;
	border:1px solid #9c9891;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:40px;
	line-height:40px;
	width:80px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #000000;
}
.button-run:hover {
	background-color:#423d37;
	background-image: linear-gradient(#423d37 5%, #a6a19a 100%);
}
.button-run:active {
	position:relative;
	top:1px;
}
.open_animation-LEFT, .open_animation-LEFT:hover{
 	background-image: url(favicon.ico) ;
}
.open_animation-RIGHT, .open_animation-RIGHT:hover{
 	background-image: url(favicon.ico) ;
}
.open_animation-UP, .open_animation-UP:hover{
 	background-image: url(favicon.ico) ;
}
.open_animation-DOWN, .open_animation-DOWN:hover{
 	background-image: url(favicon.ico) ;
}
.open_animation-DOFF, .open_animation-DOFF:hover{
 	background-image: url(favicon.ico) ;
}
.open_animation-DOBIG, .open_animation-DOBIG:hover{
 	background-image: url(favicon.ico) ;
}
.open_animation-FLASH, .open_animation-FLASH:hover{
 	background-image: url(favicon.ico) ;
}
.open_animation-JUMP, .open_animation-JUMP:hover{
 	background-image: url(favicon.ico) ;
}
.open_animation-OPENMID, .open_animation-OPENMID:hover{
 	background-image: url(favicon.ico) ;
}
.open_animation-OPENRIGHT, .open_animation-OPENRIGHT:hover{
 	background-image: url(favicon.ico) ;
}
.open_animation-RAINBOW, .open_animation-RAINBOW:hover{
 	background-image: url(favicon.ico) ;
}
.open_animation-RANDOM, .open_animation-RANDOM:hover{
 	background-image: url(favicon.ico) ;
}
.open_animation-SHIFTMID, .open_animation-SHIFTMID:hover{
 	background-image: url(favicon.ico) ;
}
.open_animation-SNOW, .open_animation-SNOW:hover{
 	background-image: url(favicon.ico) ;
}
.close_animation-CLOSEMID, .close_animation-CLOSEMID:hover{
 	background-image: url(favicon.ico) ;
}
.close_animation-CLOSERIGHT, .close_animation-CLOSERIGHT:hover{
 	background-image: url(favicon.ico) ;
}
.close_animation-SQUEEZEMID, .close_animation-SQUEEZEMID:hover{
 	background-image: url(favicon.ico) ;
}
.close_animation-DSNOW, .close_animation-DSNOW:hover{
 	background-image: url(favicon.ico) ;
}

.tooltip-LEFT:hover:after{
	content:         "Von rechts nach links";
	position:        absolute;
   	bottom:          20em;
   	left: 			 0em;
   	width:           100%;
   	color:           white;
   	background-image:url(background.jpg);
   	border:          1px solid #575757;
} 
.tooltip-RIGHT:hover:after{
	content:         "Von links nach rechts";
	position:        absolute;
   	bottom:          20em;
   	left: 			 0em;
   	width:           100%;
   	color:           white;
   	background-image:url(background.jpg);
   	border:          1px solid #575757;
} 
.tooltip-UP:hover:after{
	content:         "Von unten nach oben";
	position:        absolute;
   	bottom:          20em;
   	left: 			 0em;
   	width:           100%;
   	color:           white;
   	background-image:url(background.jpg);
   	border:          1px solid #575757;
} 
.tooltip-DOWN:hover:after{
	content:         "Von oben nach unten";
	position:        absolute;
   	bottom:          20em;
   	left: 			 0em;
   	width:           100%;
   	color:           white;
   	background-image:url(background.jpg);
   	border:          1px solid #575757;
} 
.tooltip-DOFF:hover:after{
	content:         "Zeichen erscheinen rechts und bewegen sich einzeln nach links";
	position:        absolute;
   	bottom:          20em;
   	left: 			 0em;
   	width:           100%;
   	color:           white;
   	background-image:url(background.jpg);
   	border:          1px solid #575757;
} 
.tooltip-DOBIG:hover:after{
	content:         "Große Zeichen erscheinen rechts und bewegen sich einzeln nach links, werden dabei klein";
	position:        absolute;
   	bottom:          20em;
   	left: 			 0em;
   	width:           100%;
   	color:           white;
   	background-image:url(background.jpg);
   	border:          1px solid #575757;
} 
.tooltip-FLASH:hover:after{
	content:         "Mitteilung blinkt";
	position:        absolute;
   	bottom:          20em;
   	left: 			 0em;
   	width:           100%;
   	color:           white;
   	background-image:url(background.jpg);
   	border:          1px solid #575757;
} 
.tooltip-JUMP:hover:after{
	content:         "Mitteilung erscheint sofort";
	position:        absolute;
   	bottom:          20em;
   	left: 			 0em;
   	width:           100%;
   	color:           white;
   	background-image:url(background.jpg);
   	border:          1px solid #575757;
} 
.tooltip-OPENMID:hover:after{
	content:         "Mitteilung erscheint in der Mitte und breitet sich nacheinander zu den Seiten aus";
	position:        absolute;
   	bottom:          20em;
   	left: 			 0em;
   	width:           100%;
   	color:           white;
   	background-image:url(background.jpg);
   	border:          1px solid #575757;
}
.tooltip-OPENRIGHT:hover:after{
	content:         "Mitteilung erscheint einzeln von links nach rechts";
	position:        absolute;
   	bottom:          20em;
   	left: 			 0em;
   	width:           100%;
   	color:           white;
   	background-image:url(background.jpg);
   	border:          1px solid #575757;
} 
.tooltip-RAINBOW:hover:after{
	content:         "Mitteilung erscheint in Regenbogenfarben";
	position:        absolute;
   	bottom:          20em;
   	left: 			 0em;
   	width:           100%;
   	color:           white;
   	background-image:url(background.jpg);
   	border:          1px solid #575757;
} 
.tooltip-RANDOM:hover:after{
	content:         "Zufälliger Effekt";
	position:        absolute;
   	bottom:          20em;
   	left: 			 0em;
   	width:           100%;
   	color:           white;
   	background-image:url(background.jpg);
   	border:          1px solid #575757;
} 
.tooltip-SHIFTMID:hover:after{
	content:         "Mitteilung bewegt sich von der Mitte gleichmäßig zu beiden Seiten";
	position:        absolute;
   	bottom:          20em;
   	left: 			 0em;
   	width:           100%;
   	color:           white;
   	background-image:url(background.jpg);
   	border:          1px solid #575757;
} 
.tooltip-SNOW:hover:after{
	content:         "Mitteilung erscheint in Einzelpunkten auf der Anzeige";
	position:        absolute;
   	bottom:          20em;
   	left: 			 0em;
   	width:           100%;
   	color:           white;
   	background-image:url(background.jpg);
   	border:          1px solid #575757;
} 
.tooltip-CLOSEMID:hover:after{
	content:         "Mitteilung verschwindet von beiden Seiten einzeln zur Mitte hin";
	position:        absolute;
   	bottom:          20em;
   	left: 			 0em;
   	width:           100%;
   	color:           white;
   	background-image:url(background.jpg);
   	border:          1px solid #575757;
} 
.tooltip-CLOSERIGHT:hover:after{
	content:         "Mitteilung verschwindet einzeln von links nach rechts";
	position:        absolute;
   	bottom:          20em;
   	left: 			 0em;
   	width:           100%;
   	color:           white;
   	background-image:url(background.jpg);
   	border:          1px solid #575757;
} 
.tooltip-SQUEEZEMID:hover:after{
	content:         "Mitteilung bewegt sich von beiden Seiten zur Mitte und verschwindet dort";
	position:        absolute;
   	bottom:          20em;
   	left: 			 0em;
   	width:           100%;
   	color:           white;
   	background-image:url(background.jpg);
   	border:          1px solid #575757;
} 
.tooltip-DSNOW:hover:after{
	content:         "Mitteilung verschwindet nach und nach von der Anzeige";
	position:        absolute;
   	bottom:          20em;
   	left: 			 0em;
   	width:           100%;
   	color:           white;
   	background-image:url(background.jpg);
   	border:          1px solid #575757;
} 

input[type=text] {
    background-color: black;
    color: white;
    border-image: radial-gradient(#016cd7 40%, #01192e 120%);
    background-image: linear-gradient(#1e1e1e, #343434);
    padding: 2px;
    border-image-slice: 3 3 3 3;
    border-image-width: 3px;
    border-image-outset: 0;
    border-image-repeat:repeat;
}
