body {
  font-family: sans-serif;
}

#sequence {
  border: 1px solid gray;
  padding: 3px;
  margin-bottom: 3px;
}

#sequence_box {
  border: 1px dotted black;
  padding: 10px;
}

#sequence_inner {
  min-height: 200px;
/*  border: 2px solid blue;*/
}

#toolbox {
  border: 1px solid gray;
  padding: 3px;
}

.tool {
  border: 1px solid red;
  display: inline-block;
/*  float: left;*/
  margin: 5px;
}

.clear { 
  clear: both;
}

.component {
  border: 1px solid #079;
  background-color: #aef;
  display: inline-block;
/*  float: left;*/
  height: 40px;
  margin: 5px;
  padding: 3px;
  vertical-align: top;
  cursor: move;
}

.component-inner {
  display: inline-block;
  padding: 3px;
  margin-right: 4px;
}

.component>* {
  vertical-align: middle;
}
