* {
    padding: 0;
    margin: 0;
}
body {
    background-image:url(background.jpg);
}

body, .ui-widget, .ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button, input, select, textarea, button, option {
    font-family: Arial, Helvetica, sans-serif, Symbola;
    font-size: 14px;
}

.ui-widget {
	font-size: 14px;
}
.ui-widget .ui-widget, .ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
	font-size: 13px;
}

#top{
    margin-bottom:10px;
    height:100px;
    width:100%;
    background-image: url(toplinks.png), url(toprechts.png), url(topmitte.png);
    background-repeat: no-repeat, no-repeat, repeat-x;
    background-position: top left, top right, top left;
    text-align:center;
    font-family:PIDvl;
    color:white;
    font-size:72px;
    padding-top: 10px;
    box-sizing: border-box;
}
#links {
    position:absolute;
    top:130px;
    left:10px;
    margin-left:20px;
    height: 1000px;
    background-color: transparent;
    width: 250px;
    float: left;
}
#links_o_bg{
    position:absolute;
    top:0px;
    left:0px;
    height: 350px;
    width: 250px;
    background:url(linksoben.png);
    opacity: 0.6;
    background-repeat:repeat-x;
}
#links_o {
    position:absolute;
    top:0px;
    left:0px;
    height: 350px;
    background-color: transparent;
    width: 250px;
    float: left;
    padding-top: 38px;
}
#links_o .button {
    margin-bottom: 16px;
    margin-left: auto;
    margin-right: auto;
}
#links_u {
    position:absolute;
    top:400px;
    left:0px;
/*    font-weight:bold;*/
    color:white;
    height: 350px;
    background:url(linksunten.png);
    width: 250px;
    float: left;
    padding-top: 40px;
    padding-bottom: 13px;
    box-sizing: border-box;
}
#sequences {
    height: 100%;
    width: 246px;
    list-style-type: none;
    overflow: auto;
}
#sequences li {
    height: 27px;
    display: block;
    /*line-height: 27px;*/
    box-sizing: border-box;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-top: 5px;
    cursor: default;
}
#sequences li[selected=selected] {
    background: #444;
    color: white;
}

#mitte {
    margin-left: 300px;
    margin-right: 500px;
    margin-top: 30px;
    min-width: 325px;
}
#mitteoben {
    background: url(mittelinks.png) no-repeat;
    background-position: top left;
    color: white;
    font-size: 14px;
    width: 325px;
    height: 44px;
}
#sequence {
    height: 586px;
}
#sequence-name {
    padding-left: 15px;
    padding-top: 15px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 210px;
}
#sequence-inner {
    height: 100%;
    width: 100%;
    overflow: auto;
    padding-top: 2px;
    padding-left: 4px;
    padding-right: 4px;
    box-sizing: border-box;
}
#mittemitte {
    background-image: url(mittelinks2.png), url(mitterechts2.png), url(mittemitte2.png);
    background-repeat: no-repeat, no-repeat, repeat-x;
    background-position: top left, top right, top left;
    padding: 9px;
/*    box-sizing: border-box;*/
    height: 606px;
}

#feld{
    height: 900px;
    background-color:yellow;
    background:url(mitte.png);
    background-repeat:repeat-x;
}

#debug {
    margin-left: 130px;
    margin-right: 80px;
    margin-top: 20px;
    min-width: 325px;
    height: 30px;
}
#debug-bg{
    background-image: url(debuglinks.png), url(debugrechts.png), url(debugmitte.png);
    background-repeat: no-repeat, no-repeat, repeat-x;
    background-position: left,right,left;
}

#debug-feld{
    background: transparent;
}

#bug{
    position:absolute;
    top:800px;
    left:330px;		
    width: 64px;		
    height:72px;
    background: url(bug.png);
}

#toolbox_bg{
    position:absolute;
    top:130px;
    right:0px;		
    width: 450px;
    float: right;		
    height:750px;
    background: url(rechts.png); opacity: 0.5;
    margin-right:20px;	
}

#toolbox{
    position:absolute;
    top:140px;
    right:10px;								
    margin:20px;;
    height:730px;
    background: transparent;
    width: 430px;
    float: right;
    font-family:Arial;
    color:white;
    font-size:12px;
    text-align:left;
}



.button {
	background-image: linear-gradient(#474747 5%, #1f181f 100% );
	display: block;
    color:#ffffff;
	font-size:17px;
	height:40px;
	line-height:40px;
	width:150px;
	border-radius:3px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #000000;
}
.button:hover {
	background-image: linear-gradient(#1f181f 5%, #474747 100% );
	}
	
.button:active {
	position:relative;
	top:1px;
}	

.component, .component-placeholder {
/*	border: 0.1px solid gray;*/
	background-color: transparent;
	display: inline-block;
	height: 55px;
	margin: 5px;
	box-sizing: border-box;
/*	padding: 3px;*/
	vertical-align: top;
	cursor: default;
	position: relative; /* damit man dann den delete-button auf position: absolute stellen kann */
}

.component-placeholder {
    border: 1px solid white;
    border-radius: 5px;
    width: 55px;
}

.component-inner {
/*	display: inline-block;
	padding: 3px;
	margin-right: 4px;*/
	margin-top: 6px;
}

.component-group {
    background-color: #1f181f;
    height: 55px;
}
.component-group>.component-inner {
    margin-top: 0;
    padding-left: 3px;
    padding-right: 3px;
}
.component-group .component {
    margin-top: 0;
    margin-left: 1px;
    margin-right: 0;
}

.component > * {
	vertical-align: middle;
}

.component-text .component-inner {
    margin-top: 13px;
}

.component-delete-button, .component-move-handle {
    position: absolute;
    top: -7px;
    display: none;
    border: 0;
    color: transparent; /* Text ausblenden */
    width: 16px;
    height: 16px;
}

.component-delete-button {
    right: -7px;
    background: url(delete.png) no-repeat top left;
}

.component-delete-button:hover {
    background-image: url(delete-hover.png);
}

.component:hover .component-delete-button, .component:hover .component-move-handle {
    display: block;
}

.component-move-handle {
    right: 13px;
    background: url(move.png) no-repeat top left;
    background-size: cover;
    cursor: move;
}

.tool {
	display: inline-block;
	cursor: move;
	position: relative; /* damit man die tooltips auf position: absolute stellen kann */
}
.button-toolbox, .button-component {
	border-radius: 9px;
	display:inline-block;
	color:#ffffff;
	font-size:17px;
	height:39px;
	line-height:39px;
	width:39px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 1px #000000;
	background-image: linear-gradient(#a6a6a6 5%, #2e2e2e 100% );
	/*box-shadow: inset 0px 1px 0px 0px #787168;*/
	/*border: 1px solid black;*/
}
.button-toolbox:hover, .button-component:hover {
    background-image: linear-gradient(#2e2e2e 5%, #a6a6a6 100% );
}
.button-toolbox {
	margin-left: 12px;
	margin-bottom: 12px;    
}
.button-component {
    vertical-align: top;
}

.popover .button-toolbox {
    cursor: default;
	margin-left: 2px;
	margin-bottom: 2px;
}

.button-color-fg-r {
    color: #ff0026;
}
.button-color-fg-b {
    color: #575757;
}
.button-color-fg-y {
    color: #fff700;
}
.button-color-fg-g {
    color: #26ff00;
}

.button-color-bg-r {
	background-image: linear-gradient(#ff0026 5%, #662022 100% );
}
.button-color-bg-r:hover {
	background-image: linear-gradient(#ff7388 5%, #ba3a3e 100% );
}
.button-color-bg-b {
	background-image: linear-gradient(#575757 5%, #000000 100% );
	/*border:1px solid #575757;*/
/*	text-shadow:1px 1px 0px #575757;*/
}
.button-color-bg-b:hover {
	background-image: linear-gradient(#8c8c8c 5%, #222222 100% );
}
.button-color-bg-y {
	background: linear-gradient(#fff700 5%, #c4c418 100% );
}
.button-color-bg-y:hover {
	background-image: linear-gradient(#fffb83 5%, #e6e642 100% );
}
.button-color-bg-g {
	background-image: linear-gradient(#26ff00 5%, #217a2a 100% );
}
.button-color-bg-g:hover {
	background-image: linear-gradient(#beffb3 5%, #69d374 100% );
}
	
.button-seq {										/*Button fuer Sequenzliste*/
	box-shadow: 0px 0px 0px 0px #ffffff;
	background-image: linear-gradient(#474747 5%, #1f181f 100% );
	background-color:#474747;
	border-radius:3px;
	text-indent:0px;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	font-weight:normal;
	font-style:normal;
	height:30px;
	line-height:30px;
	width:200px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #000000;
}
.button-seq:hover {
	background-image: linear-gradient(#1f181f 5%, #474747 100% );
	background-color:#1f181f;
}
.button-seq:active {
	position:relative;
	top:1px;
}
.button-size1 {
	box-shadow:inset 0px 1px 0px 0px #787168;
	background-image: linear-gradient(#a6a19a 5%, #423d37 100% );
	border:1px solid #9c9891;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:normal;
	font-style:normal;
	height:39px;
	line-height:39px;
	width:39px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #000000;
	margin-left:15px;
}
.button-size1:hover {
	background-image: linear-gradient(#423d37 5%, #a6a19a 100% );
	background-color:#423d37;
}
.button-size1:active {
	position:relative;
	top:1px;
}

#toolbox h3 {
    margin-bottom: 9px;
    margin-left: 20px;
}

.tool-slider > * {
    vertical-align: middle;
}

.tool-slider-lower-limit, .tool-slider-upper-limit {
    padding: 0 10px;
    min-width: 50px;
    display: inline-block;
}

.tool-slider-lower-limit {
    text-align: right;
}
.button-command-CLOCK12{
	background-image: url(clock12.png);
}
.button-command-CLOCK12:hover{
	background-image: url(clock12_hover.png);
}	
.button-command-CLOCK24{
	background-image: url(clock24.png) ;
}	
.button-command-CLOCK24:hover{	
	background-image: url(clock24_hover.png) ;
}

.tool-command-COLOR, .tool-command-NORMAL, .tool-command-BIG, .component-command-COLOR .button-component, .component-command-BIG .button-component, .component-command-NORMAL .button-component, .popover-command-COLOR .button-toolbox {
    font-family: PIDvl;
    font-size: 39px;
    vertical-align: top;
    padding-left: 4px;
    box-sizing: border-box;
}

.tool-command-COLOR:before, .tool-command-NORMAL:before, .tool-command-BIG:before, .component-command-COLOR .button-component:before, .component-command-BIG .button-component:before, .component-command-NORMAL .button-component:before, .popover-command-COLOR .button-toolbox:before {
    content: "A";
}

.tool-command-BIG, .component-command-BIG .button-component {
    font-family: "PIDvl bold";
}
	
.popover {
    position: absolute;
    z-index: 1000;
    border: 2px solid #aaa;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 5px;
    border-radius: 9px;
/*    width: 300px;*/
}

.popover-command-WAIT, .popover-command-SPEED {
    width: 205px;
}

.popover-group-open_animation {
    width: 287px;
}

.popover-special-characters {
    width: 287px;
}

.button-run {
	background-image: linear-gradient(#a6a19a 5%, #423d37 100% );
	background-color:#a6a19a;
	border-radius: 20px;
	border:1px solid #9c9891;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:40px;
	line-height:40px;
	width:80px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #000000;
}
.button-run:hover {
	background-color:#423d37;
	background-image: linear-gradient(#423d37 5%, #a6a19a 100%);
}
.button-run:active {
	position:relative;
	top:1px;
}
.button-command-LEFT {
 	background-image: url(left.png) ;
}
.button-command-LEFT:hover{
	background-image: url(left_hover.png) ;
}
.button-command-RIGHT{ 
 	background-image: url(right.png) ;
}
.button-command-RIGHT:hover{
	background-image: url(right_hover.png) ;
}	
.button-command-UP{ 
 	background-image: url(up.png) ;
}
.button-command-UP:hover{
	background-image: url(up_hover.png) ;
}	
.button-command-DOWN{ 
 	background-image: url(down.png) ;
}
.button-command-DOWN:hover{
	background-image: url(down_hover.png) ;
}	
.button-command-DOFF{ 
 	background-image: url(doff.png) ;
}
.button-command-DOFF:hover{
	background-image: url(doff_hover.png) ;
}	
.button-command-DOBIG{ 
 	background-image: url(dobig.png) ;
}	
.button-command-DOBIG:hover{
	background-image: url(dobig_hover.png) ;
}	
.button-command-FLASH{ 
 	background-image: url(flash.png) ;
}
.button-command-FLASH:hover{
	background-image: url(flash_hover.png) ;
}	
.button-command-JUMP{ 
 	background-image: url(jump.png) ;
}
.button-command-JUMP:hover{
	background-image: url(jump_hover.png) ;
}	
.button-command-OPENMID{
 	background-image: url(openmid.png) ;
}
.button-command-OPENMID:hover{
	background-image: url(openmid_hover.png) ;
}	
.button-command-OPENRIGHT{
 	background-image: url(openright.png) ;
}
.button-command-OPENRIGHT:hover{
	background-image: url(openright_hover.png) ;
}	
.button-command-RAINBOW{ 
 	background-image: url(rainbow.png) ;
}
.button-command-RAINBOW:hover{
	background-image: url(rainbow_hover.png) ;
}	
.button-command-RANDOM{ 
 	background-image: url(random.png) ;
}
.button-command-RANDOM:hover{
	background-image: url(random_hover.png) ;
}	
.button-command-SHIFTMID{
 	background-image: url(shiftmid.png) ;
}
.button-command-SHIFTMID:hover{
	background-image: url(shiftmid_hover.png) ;
}	
.button-command-SNOW{
 	background-image: url(snow.png) ;
}	
.button-command-SNOW:hover{
	background-image: url(snow_hover.png) ;
}	
.button-command-CLOSEMID{ 
 	background-image: url(closemid.png) ;
}	
.button-command-CLOSEMID:hover{
	background-image: url(closemid_hover.png) ;
}	
.button-command-CLOSERIGHT{
 	background-image: url(closeright.png) ;
}	
.button-command-CLOSERIGHT:hover{
	background-image: url(closeright_hover.png) ;
}	
.button-command-SQUEEZEMID{ 
 	background-image: url(squeezemid.png) ;
}	
.button-command-SQUEEZEMID:hover{
	background-image: url(squeezemid_hover.png) ;
}	
.button-command-DSNOW{ 
 	background-image: url(dsnow.png) ;	
}
.button-command-DSNOW:hover{
	background-image: url(dsnow_hover.png) ;
}	

.tooltip {
   	color: white;
    padding: 5px;
   	background: hsla(0, 0%, 20%, 0.95);
    border-color: #777;
}

input[type=text] {
    background-color: black;
    color: white;
    border-image: radial-gradient(#016cd7 40%, #01192e 120%);
    background-image: linear-gradient(#1e1e1e, #343434);
    padding: 2px;
    border-image-slice: 3 3 3 3;
    border-image-width: 3px;
    border-image-outset: 0;
    border-image-repeat:repeat;
}
