/*Mindestbreite: 1280px*/

* {
    padding: 0;
    margin: 0;
}
body {
    background-image: image-url("background.jpg");
}

body, .ui-widget, .ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button, input, select, textarea, button, option {
    font-family: Arial, Helvetica, sans-serif, Symbola;
    font-size: 14px;
}

.ui-widget {
	font-size: 14px;
}
.ui-widget .ui-widget, .ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
	font-size: 13px;
}

#top{
    margin-bottom:10px;
    height:100px;
    width:100%;
    background-image: image-url("toplinks.png"), image-url("toprechts.png"),image-url("topmitte.png");
    background-repeat: no-repeat, no-repeat, repeat-x;
    background-position: top left, top right, top left;
    text-align:center;
    font-family:PIDvl;
    color:white;
    font-size:72px;
    padding-top: 10px;
    box-sizing: border-box;
}
#help{
    position:absolute;
    top:-20px;
    right:10px;
    margin-left:20px;
    background: transparent;
    background-image: image-url("question.png");
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
}
#links {
    position:absolute;
    top:130px;
    left:10px;
    margin-left:20px;
    height: 1000px;
    background-color: transparent;
    width: 250px;
    float: left;
}
#links_o_bg{
    position:absolute;
    top:0px;
    left:0px;
    height: 350px;
    width: 250px;
    background:image-url("linksoben.png");
    opacity: 0.6;
    background-repeat:repeat-x;
}
#links_o {
    position:absolute;
    top:0px;
    left:0px;
    height: 350px;
    background-color: transparent;
    width: 250px;
    float: left;
    padding-top: 38px;
}
#links_o .button {
    margin-bottom: 16px;
    margin-left: auto;
    margin-right: auto;
}
#links_u {
    position:absolute;
    top:400px;
    left:0px;
/*    font-weight:bold;*/
    color:white;
    height: 350px;
    background:image-url("seqlist.png");
    width: 250px;
    float: left;
    padding-top: 40px;
    padding-bottom: 13px;
    box-sizing: border-box;
}
#sequences {
    height: 100%;
    width: 246px;
    list-style-type: none;
    overflow: auto;
}
#sequences li {
    height: 27px;
    display: block;
    /*line-height: 27px;*/
    box-sizing: border-box;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-top: 5px;
    cursor: default;
    list-style:none;
    background-image: image-url("seq.png");
    background-repeat:no-repeat;
    background-position:10px;
    padding-left:40px;
}
#sequences li[selected=selected] {
    background-image: image-url("seq_select.png");
    color: white;
}
#mitte {
    margin-left: 300px;
    margin-right: 550px;
    margin-top: 30px;
    min-width: 325px;
}
#mitteoben {
    background: image-url("mittelinks.png") no-repeat;
    background-position: top left;
    color: white;
    font-size: 14px;
    width: 325px;
    height: 44px;
}
#play{
    position:absolute;
    left:560px;
    top:140px;
    background:transparent;
    height: 25px;
    width: 25px;
}
#linebreak-tool{
    position:absolute;
    right:570px;
    top:130px;
    height:40px;
    width:40px;
    background:transparent;
}
#sequence {
    height: 586px;
}
#sequence-name {
    padding-left: 15px;
    padding-top: 15px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 210px;
}
#sequence-inner {
    height: 100%;
    width: 100%;
    overflow: auto;
    padding-top: 2px;
    padding-left: 4px;
    padding-right: 4px;
    box-sizing: border-box;
}
#mittemitte {
    background-image: image-url("mittelinks2.png"), image-url("mitterechts2.png"), image-url("mittemitte2.png");
    background-repeat: no-repeat, no-repeat, repeat-x;
    background-position: top left, top right, top left;
    padding: 9px;
/*    box-sizing: border-box;*/
    height: 606px;
}

#feld{
    height: 900px;
    background-color:pink;
    background:image-url("mitte.png");
    background-repeat:repeat-x;
}

#debug {
    margin-left: 140px;
    margin-right: 100px;
    margin-top:17px;
    min-width: 250px;
    height: 40px;
    background-image: image-url("debuglinks.png"), image-url("debugrechts.png"), image-url("debugmitte.png");
    background-repeat: no-repeat, no-repeat, repeat-x;
    background-position: left,right,left;
}
#debug-text{
    margin-left: -5px;
    margin-right: 10px;
}

#bug{
    position:absolute;
    top:800px;
    left:330px;		
    width: 64px;		
    height:72px;
    background: image-url("bug.png");
}

#toolbox_bg{
    position:absolute;
    top:130px;
    right:0px;		
    width: 500px;
    float: right;		
    height:750px;
    background: image-url("rechts.png"); opacity: 0.5;
    margin-right:20px;	
}

#toolbox{
    position:absolute;
    top:140px;
    right:10px;								
    margin:20px;
    height:730px;
    background: transparent;
    width: 480px;
    float: right;
    font-family:Arial;
    color:white;
    font-size:12px;
    text-align:left;
}
#line1{
    position:absolute;
    top:115px;
    left:6px;
    background-image:image-url("linie.png");
    height:2px;
    width:466px;
    background-color:transparent;
}
#line2{
    position:absolute;
    top:205px;
    left:6px;
    background-image:image-url("linie.png");
    height:2px;
    width:466px;
    backgroud-color:transparent;
}
#line3{
    position:absolute;
    top:303px;
    left:6px;
    background-image:image-url("linie.png");
    height:2px;
    width:466px;
    backgroud-color:transparent;
}
#line4{
    position:absolute;
    top:390px;
    left:6px;
    background-image:image-url("linie.png");
    height:2px;
    width:466px;
    backgroud-color:transparent;
}
#line5{
    position:absolute;
    top:475px;
    left:6px;
    background-image:image-url("linie.png");
    height:2px;
    width:466px;
    backgroud-color:transparent;
}
#line6{
    position:absolute;
    top:616px;
    left:6px;
    background-image:image-url("linie.png");
    height:2px;
    width:466px;
    backgroud-color:transparent;
}
.playbutton{
    background-image:image-url("play.png");
    display:block;
    height:25px;
    width:25px;
}
.playbutton:hover{
    background-image:  image-url("playhover.png");
}
.playbutton:focus {
    outline: 0;
}


.button {									/*Sequenzbutton(links oben")*/
	background-image: image-url("seqbut.png");
	display: block;
    color:#ffffff;
	font-size:17px;
	height:40px;
	line-height:40px;
	width:150px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #000000;
}
.button:hover {
	background-image:  image-url("seqbut_hover.png");
	}
	
.button:active {
	position:relative;
	top:1px;
}	

.component, .component-placeholder {
/*	border: 0.1px solid gray;*/
	background-color: transparent;
	display: inline-block;
	height: 55px;
	margin: 5px;
	box-sizing: border-box;
/*	padding: 3px;*/
	vertical-align: top;
	cursor: default;
	position: relative; /* damit man dann den delete-button auf position: absolute stellen kann */
}

.component-placeholder {
    border: 1px solid white;
    border-radius: 5px;
    width: 55px;
}

.component-inner {
/*	display: inline-block;
	padding: 3px;
	margin-right: 4px;*/
	margin-top: 6px;
}

.component-group {
    background-color: #1f181f; /*Standardelement Farbe*/
    height: 55px;
}
.component-group>.component-inner {
    margin-top: 0;
    padding-left: 3px;
    padding-right: 3px;
}
.component-group .component {
    margin-top: 0;
    margin-left: 1px;
    margin-right: 0;
}

.component > * {
	vertical-align: middle;
}

.component-text .component-inner {
    margin-top: 13px;
}

.component-delete-button, .component-move-handle, .component-special-character-button {
    position: absolute;
    top: -7px;
    display: none;
    border: 0;
    width: 17px;
    height: 17px;
}

.component-delete-button {
    right: -7px;
    background: image-url("delete.png") no-repeat top left;
}

.component-delete-button:hover {
    background-image: image-url("delete_hover.png");
}

.component-special-character-button {
    bottom: 2px;
    top: auto;
    right: -7px;
    background: image-url("special-character.png") no-repeat top left;
}

.component-special-character-button:hover {
    background-image: image-url("special-character_hover.png");
}

.component:hover .component-delete-button, .component:hover .component-move-handle, .component:hover .component-special-character-button {
    display: block;
}

.component-move-handle {
    right: 13px;
    background: image-url("move.png") no-repeat top left;
    background-size: cover;
    cursor: move;
}

.tool {
	display: inline-block;
	position: relative; /* damit man die tooltips auf position: absolute stellen kann */
}

.tool, .tool .component {
    cursor: move;
}

.tool-group-text, .tool-group-bgcolor{
    display: inline-block;
    vertical-align: top;
    margin-top:10px;
/*    width: 204px;*/
}

.tool-group-twitter,.tool-group-clock{
    display: inline-block;
    vertical-align: top;
    margin-top:10px;
    margin-left:40px;
}
.tool-group-fgcolor{
    display: inline-block;
    vertical-align: top;
    margin-top:10px;
    margin-left:20px;
}
.tool-group-pause, .tool-group-speed{
    display: inline-block;
    vertical-align: top;
    margin-top:10px;
    margin-left:20px;
}
.button-toolbox, .button-component {
	display:inline-block;
	color:#ffffff;
	font-size:17px;
	height:39px;
	line-height:39px;
	width:39px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 1px #000000;
	background-image: image-url("but.png");
	/*box-shadow: inset 0px 1px 0px 0px #787168;*/
	/*border: 1px solid black;*/
}
.button-toolbox:hover, .button-component:hover {
    background-image: image-url("but_hover.png");
}
.button-toolbox {
	margin-left: 10px;
	margin-bottom: 10px;
}
.button-component {
    vertical-align: top;
}

.popover .button-toolbox {
    cursor: default;
	margin-left: 2px;
	margin-bottom: 2px;
}

.button-color-fg-r {
    color: #ff0026;
}
.button-color-fg-b {
    color: #575757;
}
.button-color-fg-y {
    color: #fff700;
}
.button-color-fg-g {
    color: #26ff00;
}
.button-color-fg-rainbow { 
 	background-image: image-url("rainbow.png") ;
}
.button-color-fg-rainbow:hover{
	background-image: image-url("rainbow_hover.png") ;
}

.button-color-bg-r {
	background-image: image-url("redbg.png");
}
.button-color-bg-r:hover {
	background-image: image-url("redbg_hover.png");
}
.button-color-bg-b {
	background-image: image-url("blackbg.png");
}
.button-color-bg-b:hover {
	background-image: image-url("blackbg_hover.png");
}
.button-color-bg-y {
	background: image-url("yellowbg.png");
}
.button-color-bg-y:hover {
	background-image:image-url("yellowbg_hover.png");
}
.button-color-bg-g {
	background-image: image-url("greenbg.png");
}
.button-color-bg-g:hover {
	background-image: image-url("greenbg_hover.png");
}
	
.button-seq {										/*Button fuer Sequenzliste*/
	box-shadow: 0px 0px 0px 0px #ffffff;
	background-image: linear-gradient(#474747 5%, #1f181f 100% );
	background-color:#474747;
	border-radius:3px;
	text-indent:0px;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	font-weight:normal;
	font-style:normal;
	height:30px;
	line-height:30px;
	width:200px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #000000;
}
.button-seq:hover {
	background-image: linear-gradient(#1f181f 5%, #474747 100% );
	background-color:#1f181f;
}
.button-seq:active {
	position:relative;
	top:1px;
}
.button-size1 {
	box-shadow:inset 0px 1px 0px 0px #787168;
	background-image: linear-gradient(#a6a19a 5%, #423d37 100% );
	border:1px solid #9c9891;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:normal;
	font-style:normal;
	height:39px;
	line-height:39px;
	width:39px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #000000;
	margin-left:15px;
}
.button-size1:hover {
	background-image: linear-gradient(#423d37 5%, #a6a19a 100% );
	background-color:#423d37;
}
.button-size1:active {
	position:relative;
	top:1px;
}

#toolbox h3 {
    margin-top:15px;
    margin-bottom:5px;
    margin-left: 15px;
}

.tool-slider {
    line-height: 0;
    margin-left:15px;
}

.tool-slider > * {
    vertical-align: middle;
}

.tool-slider-lower-limit, .tool-slider-upper-limit {
    display: block;
}

.tool-slider-upper-limit {
    width: 140px;
    text-align: right;
}

.tool-slider .button-toolbox {
    margin-left: 150px;
    margin-top: -30px;
}

.tool-slider input[type=range] {
    display: block;
    width: 140px;
}

.button-command-CLOCK12{
	background-image: image-url("clock12.png");
}
.button-command-CLOCK12:hover{
	background-image: image-url("clock12_hover.png");
}	
.button-command-CLOCK24{
	background-image: image-url("clock24.png") ;
}	
.button-command-CLOCK24:hover{	
	background-image: image-url("clock24_hover.png") ;
}

.button-command-WAIT {
    background-image: image-url("timewait.png");
    padding-right: 10px;		
    box-sizing: border-box;
    padding-top: 6px;
}
.button-command-WAIT:hover {
    background-image: image-url("timewait_hover.png");
}
.button-command-SPEED {
    background-image: image-url("speed.png");
    line-height: 26px;
    padding-left: 10px;
    box-sizing: border-box;
}
.button-command-SPEED:hover {
    background-image: image-url("speed_hover.png");
}

.tool-command-COLOR, .tool-command-NORMAL, .tool-command-BIG, .component-command-COLOR .button-component, .component-command-BIG .button-component, .component-command-NORMAL .button-component, .popover-command-COLOR .button-toolbox {
    font-family: PIDvl;
    font-size: 39px;
    vertical-align: top;
    padding-left: 4px;
    box-sizing: border-box;
}

.tool-command-COLOR:before, .tool-command-NORMAL:before, .tool-command-BIG:before, .component-command-COLOR .button-component:before, .component-command-BIG .button-component:before, .component-command-NORMAL .button-component:before, .popover-command-COLOR .button-toolbox:before {
    content: "A";
}

/* nicht für den Regenbogenknopf */
.button-color-fg-rainbow:before {
    content: "" !important;
}

.tool-command-BIG, .component-command-BIG .button-component {
    font-family: "PIDvl bold";
}
	
.popover {
    position: absolute;
    z-index: 1000;
    border: 2px solid #aaa;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 5px;
    border-radius: 9px;
/*    width: 300px;*/
}

.popover-command-WAIT, .popover-command-SPEED {
    width: 205px;
}

.popover-group-open_animation {
    width: 287px;
}

.popover-special-characters {
    width: 287px;
}

.button-run {
	background-image: linear-gradient(#a6a19a 5%, #423d37 100% );
	background-color:#a6a19a;
	border-radius: 20px;
	border:1px solid #9c9891;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:40px;
	line-height:40px;
	width:80px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #000000;
}
.button-run:hover {
	background-color:#423d37;
	background-image: linear-gradient(#423d37 5%, #a6a19a 100%);
}
.button-run:active {
	position:relative;
	top:1px;
}
.button-command-LEFT {
 	background-image: image-url("left.png") ;
}
.button-command-LEFT:hover{
	background-image: image-url("left_hover.png") ;
}
.button-command-RIGHT{ 
 	background-image: image-url("right.png") ;
}
.button-command-RIGHT:hover{
	background-image: image-url("right_hover.png") ;
}	
.button-command-UP{ 
 	background-image: image-url("up.png") ;
}
.button-command-UP:hover{
	background-image: image-url("up_hover.png") ;
}	
.button-command-DOWN{ 
 	background-image: image-url("down.png") ;
}
.button-command-DOWN:hover{
	background-image: image-url("down_hover.png") ;
}	
.button-command-DOFF{ 
 	background-image: image-url("doff.png") ;
}
.button-command-DOFF:hover{
	background-image: image-url("doff_hover.png") ;
}	
.button-command-DOBIG{ 
 	background-image: image-url("dobig.png") ;
}	
.button-command-DOBIG:hover{
	background-image: image-url("dobig_hover.png") ;
}	
.button-command-FLASH{ 
 	background-image: image-url("flash.png") ;
}
.button-command-FLASH:hover{
	background-image: image-url("flash_hover.png") ;
}	
.button-command-JUMP{ 
 	background-image: image-url("jump.png") ;
}
.button-command-JUMP:hover{
	background-image: image-url("jump_hover.png") ;
}	
.button-command-OPENMID{
 	background-image: image-url("openmid.png") ;
}
.button-command-OPENMID:hover{
	background-image: image-url("openmid_hover.png") ;
}	
.button-command-OPENRIGHT{
 	background-image: image-url("openright.png") ;
}
.button-command-OPENRIGHT:hover{
	background-image: image-url("openright_hover.png") ;
}	
.button-command-RANDOM{ 
 	background-image: image-url("random.png") ;
}
.button-command-RANDOM:hover{
	background-image: image-url("random_hover.png") ;
}	
.button-command-SHIFTMID{
 	background-image: image-url("shiftmid.png") ;
}
.button-command-SHIFTMID:hover{
	background-image: image-url("shiftmid_hover.png") ;
}	
.button-command-SNOW{
 	background-image: image-url("snow.png") ;
}	
.button-command-SNOW:hover{
	background-image: image-url("snow_hover.png") ;
}	
.button-command-CLOSEMID{ 
 	background-image: image-url("closemid.png") ;
}	
.button-command-CLOSEMID:hover{
	background-image: image-url("closemid_hover.png") ;
}	
.button-command-CLOSERIGHT{
 	background-image: image-url("closeright.png") ;
}	
.button-command-CLOSERIGHT:hover{
	background-image: image-url("closeright_hover.png") ;
}	
.button-command-SQUEEZEMID{ 
 	background-image: image-url("squeezemid.png") ;
}	
.button-command-SQUEEZEMID:hover{
	background-image: image-url("squeezemid_hover.png") ;
}	
.button-command-DSNOW{ 
 	background-image: image-url("dsnow.png") ;	
}
.button-command-DSNOW:hover{
	background-image: image-url("dsnow_hover.png") ;
}
.button-command-AUTOCENTER{ 
 	background-image: image-url("autocenter.png") ;	
}
.button-command-AUTOCENTER:hover{
	background-image: image-url("autocenter_hover.png") ;
}	
.button-command-LINEBREAK{ 
 	background-image: image-url("break.png") ;	
}
.button-command-LINEBREAK:hover{
	background-image: image-url("break_hover.png") ;
}
.button-command-Twitterkomponente{
	background-image: image-url("twitter.png") ;
}
.button-command-Twitterkomponente:hover{
	background-image: image-url("twitter_hover.png");
	
}
.tool-command-TEXT{
	background-image: image-url("textelement.png");
	width:200px;
	height:40px;
}
.tool-command-TEXT:hover{
	background-image: image-url("textelement_hover.png");
}

.tooltip {
   	color: white;
    padding: 5px;
   	background: hsla(0, 0%, 20%, 0.95);
    border-color: #777;
}

input[type=text] {
    background-color: transparent;
    color: white;
    border-image: image-url("textelement.png");
    background-image:url("textbg.png");
    background-repeat: no-repeat;
    padding: 2px;
    border-image-slice: 3 3 3 3;
    border-image-width: 3px;
    border-image-heighth:3px;
    border-image-outset: 1;
}

input[id=commit-text] {
    margin-left:10px;
    margin-top:10px;
    background-color: transparent;
    color: white;
    border: none;
    font-size:16px;
    width: 96%;
}
#footer{
	position: absolute;
	top: 1050px; 
	width: 100%;
	color: white;
	text-align: center;
}

.name{
	position:absolute;
	width: 30%;
	left: 10%;
}

.trac{
	position:absolute;
	left: 60%;
	width: 30%;
}
