@font-face {
    font-family: PIDvl;
    src: url(PIDvl.ttf) format('truetype');
    
}
@font-face {
    font-family: "PIDvl bold";
    src: url('PIDvl bold.ttf') format('truetype');
}
@font-face {
    font-family: Symbola;
    src: url(Symbola.ttf) format('truetype');
}
