@font-face {
    font-family: PIDvl;
    src: url(asset-path("PIDvl.ttf")) format('truetype');    
}
@font-face {
    font-family: "PIDvl bold";
    src: url(asset-path("PIDvl bold.ttf")) format('truetype');
}
@font-face {
    font-family: Symbola;
    src: url(asset-path("Symbola.ttf")) format('truetype');
}
