body {
 background-color:FFFFFF;
 text-align:center;
}
#site { 
 width:1000px;
 margin:0 auto;
}
#head {
width:1000px;
height:150px;
background:lightblue;

}
#head h1 {
 padding-top:50px;
 font-size:60px;
 font-weight:bold;
 color:white;
 font-family:Arial;
}
#main{
width:1000px;
}
#liste{
float:left;
width:200px;
height:800px;
background:#F3F781;
margin-top:10px;
margin-bottom:10px;

}
#fenster{
float:left;
margin-left:10px;
width:480px;
height:800px;
background:#F5DA81;
margin-top:10px;
margin-bottom:10px;

}
#drop{
float:right;
width:300px;
height:800px;
background:#FA8258;
margin-top:10px;
margin-bottom:10px;

}
#foot{
width:1000px;
height:100px;
background:lightblue;
margin-top:20px;
margin-bottom:10px;
clear:both;